*{
    margin: 0%;
    padding: 0%;

}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #344a73;
}
a{
    color: #4ac1a3;
}
h1,p{
    text-align: center;
}
.container{
    background-color: aliceblue;
    color: #333;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
}
.text-white{
    color: #fff;
    margin-top: 10px;

}
.form-group label{
    display: block;

}
.btn{
    display: block;
    border-radius: 12px;
    width: 455px;
    cursor: pointer;
    padding: 10px; 
    margin-top: 20px;
    background-color: rgb(59, 172, 77);
    color: #fff;
}
.form-control{
    width: 450px;
    padding: 8px;
    border-radius: 5px;



}